<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/vendor/bootstrap-icons/font/bootstrap-icons.css' />
    <link rel='stylesheet' href='/stylesheets/vendor/bootstrap/css/bootstrap.min.css' />
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/themes.js" id="theme-script"></script>
    <script type="module" src="/js/help.js" id="help-script"></script>
    <link rel="icon" type="image/x-icon" href={{ icon }} />
    <link rel="apple-touch-icon" href={{ icon }}>
    <link rel="shortcut icon" href={{ icon }} type="image/x-icon">
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0" data-bs-theme="dark">
    {{{body}}}
</body>

</html>